[global]
# default listen address.
# set to "" to list to all addresses (default)
#
listen = ""


# default log level
#
# these are Syslog-compatible log levels
# Emergency = 0
# Alert = 1
# Crit = 2
# Error = 3
# Warn = 4
# Notice = 5        # default for DoH daemon -- not chatty at all
# Information = 6   # also controlled from cli using -verbose switch: add's some diagnostics information
# Debug = 7         # also controlled from cli using -debug switch: very chatty and fully verbose
#
loglevel = 5


# http-only server
# according to RFC8484, DoH must only be supported via TLS on HTTP/2
# However, for development purposes, the http-plain mode can be helpful,
# i.e. to capture wire format traffic.
# When running in Docker, it may be also indiciated to expose the service
# through plain-text HTTP, and run it behind a frontend load-balancer,
# which does the TLS offloading.
#
[http]
    enable = false
    port = 8080


# settings for TLS HTTP/2 service (mandatory)
#
[tls]
    enable = true
    port = 8443
    pkey = "./conf/private.key"
    cert = "./conf/public.crt"


# DNS resolver
#
# at least one host must be specified.
# host must be reachable via UDP on port 53.
# It's not currently possible to chain to other DoH or DoT servers.
#
# multiple hosts can be specified as shown below,
# both in FQDN format or using IP(v4|6) addresses.
#
#   [ "192.0.2.1", "fully-qualified-host.local", "192.0.2.13" ]
#
[dns]
    resolvers = [ "192.0.2.1", "localhost" ]


# Optional influxDB to report telemetry information
#
# Telemetry logging only includes counters for HTTP GET / POST requests,
# and the number of DNS RR Type requests (e.g. TYPE A, TYPE NS) processed.
# No additional information, e.g. queried hostnames, returned IP addresses,
# source IPs, etc, is included in the telemetry.
#
[influx]
    enable = false
    url = ""
    database = ""
    username = ""
    password = ""


# *** NOT IMPLEMENTED YET -- THIS CONFIG IS CURRENTLY NON-FUNCTIONAL ***
# Optional redis cache to support server-side caching
#
# Caching is still under development. When pointing the DoH server at your
# local resolver, the latter will perform caching anyway.
# This is just an additional server-side cache to reduce the load against
# the backend a little bit.
# *** NOT IMPLEMENTED YET -- THIS CONFIG IS CURRENTLY NON-FUNCTIONAL ***
#
[redis]
    enable = false
    addr = "localhost"
    port = "6379"
    username = ""
    password = ""
